@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS */
body ul {
  list-style: disc !important; /* Reset the list-style property to its default value */
  padding-left: 1.5rem; /* Padding to accomodate for bullet points/decimals */
}

body ol {
  list-style: decimal !important; /* Reset the list-style property to its default value */
  padding-left: 1.5rem; /* Padding to accomodate for bullet points/decimals */
}

.sweetalert-overlay {
  z-index: 9999 !important; /* Adjust the value as needed */
}